@charset "UTF-8";

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

*{
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    font-family: 'Fuzzy bubbles';
}

p{
    font-family: Montsserat;
    font-size: 28px;
    color: rgb(124, 48, 122);
    text-align: justify;
    text-indent: 40px;
}

header {
    text-align: center;
    background-image: linear-gradient(#F2C3FA, #DEADD3,#F783A3);
    -webkit-animation: fadeIn 2s ease-in-out;
    -moz-animation: fadeIn 2s ease-in-out;
    -o-animation: fadeIn 2s ease-in-out;
    animation: fadeIn 2s ease-in-out;
}

header > h1 {
    font-size: 46px;
    font-weight: 200;
    padding: 10px;
    color: rgb(116, 79, 114);
    background-image: linear-gradient(to right, #fabde8, #eb9fabc2, #fce1c4, #eba6dc);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

header > div > picture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}

header > div > picture > img {
    width: 300px;
    height: 300px;
}

.fofura {
    height: 260px;
}

section {
    padding: 0px 30px 0px 30px;
}

main {
    border: none;
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    margin-top: 1px;
    display: block;
    background-color: #f4d4fc;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.349);
}

h2{
    color: #e384f7;
    text-align: center;
}

h3 {
    color: #e384f7;
    padding: 0px 0px 20px 0px;
    text-align: center;
    padding-top: 10px;
    font-size: 24px;

}

.primeira {
    display: block;
    background-color:rgb(252, 237, 255);
}

.primeira > h2 {
    padding: 60px 0px 20px 0px;
    font-size: 26px;
    font-weight: 600;
    text-align: justify;
}

.primeira > p {
    text-align: justify;
}

.segunda {
    display: block;
    background-color:rgb(252, 237, 255);
}

.segunda > h2 {
    padding: 60px 0px 0px 0px;
    font-size: 26px;
    font-weight: 600;
    text-align: justify;
}

.segunda > p {
    text-align: justify;
    padding: 20px 0px 20px 0px;
}

p.parag {
    text-align: center !important;
    font-size: 24px;
    font-weight: normal;
    margin-left: 100px!important;
    margin-right: 100px!important;
    text-indent: 0px;
}

.imgexemp {
    display: block;
    margin: auto;
}

footer {
    padding: 10px 20px 10px 20px;
    background-image: linear-gradient(to right, #fabfbf, #cdf0f7, #a2cfba, #eba6dc);
    color: black;
}

footer > p { 
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: bold;
}
